.message {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.form {
    background-color: #abd9f2;
    justify-content: end;
    align-items: center;
    display: flex;
    border-radius: 10px;
    min-height: 50px;
    padding: 5px;
}

.form div {
    margin-right: 5px;
}


.wrap {
    height: 57px;
    display: flex;
    align-items: end;
}

.dot {
    background-color: #abd9f2;
    height: 5px;
    width: 5px;
    border-radius: 50%;
}